<?xml version = "1.0" encoding = "UTF-8"?>

<beans xmlns = "http://www.springframework.org/schema/beans"
   xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
   xmlns:context = "http://www.springframework.org/schema/context"
   xsi:schemaLocation = "http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
   http://www.springframework.org/schema/context
   http://www.springframework.org/schema/context/spring-context-3.0.xsd">

   <context:annotation-config/>
   <!-- bean definitions go here -->
   
   <!-- by Default No value Of the Autowire property -->


   <bean id="daoObj" class="com.masai.Dao.DaoBean"/>


   <bean id="serviceObj" class="com.masai.Service.ServiceBean" autowire="constructor"/>
      <!--
       Here WE resolve Dependency Only One With By Type  
       another dependency is a class object that not resolve
       because we not registered A class 
       but we know with constructor injection dependency is manadatory 
       if we not resolve that dependency than it will throw Exception 
       
      
      
      
      -->
          

   <bean id="PB" class="com.masai.Persentation.PrersentationBean" autowire="constructor"/>




</beans>
